/* IMPORTS
----------------------------------------------------------------------------- */
@import "compass/utilities/print";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/box-sizing";
@import "compass/css3/hyphenation";
@import "compass/css3/images";
@import "compass/css3/text-shadow";
@import "compass/css3/transition";

/* BASIC FUNCTIONS
----------------------------------------------------------------------------- */
/* converts given size in pixels into its em size equivalent */
@function px_to_em($pixels, $base-font: $font-size-base) {
  @return $pixels / $base-font + 0em;
}

/* BASIC MIXINS
----------------------------------------------------------------------------- */
/* includes a font size and line height property of given em size */
@mixin em_font($size, $line-height: $default-line-height) {
  font-size: #{$size}em; line-height: #{$line-height}em;
}

/* includes either horizontal or vertical margins or paddings of given size */
@mixin directional_margin_or_padding($property, $size, $direction) {
  @if unitless($size) {
    @warn "Assuming #{$size} to be in pixels";
    $size: $size * 1px;
  }
  @if $direction == h {
    #{$property}-right: $size;
    #{$property}-left: $size;
    } @else  if $direction == v {
    #{$property}-top: $size;
    #{$property}-bottom: $size;
  }
}

/* includes either horizontal or vertical margins of given size */
@mixin dir_margin($size, $direction) {
  @include directional_margin_or_padding(margin, $size, $direction);
}

/* includes either horizontal or vertical paddings of given size */
@mixin dir_padding($size, $direction) {
  @include directional_margin_or_padding(padding, $size, $direction);
}

/* BASIC COLORS
----------------------------------------------------------------------------- */
/* Color names as found by http://www.colblindor.com/color-name-hue/ */

/*
Black: #000 / rgb(0, 0, 0)
White Smoke: #eee / rgb(238, 238, 238)
Very Light Grey : #ccc / rgb(204, 204, 204)
Night Rider: #333 / rgb(51, 51, 51)
White: #fff / rgb(255, 255, 255)
Red: #e00 / rgb(238, 0, 0)
*/
$black: rgb(0, 0, 0);
$gray-light: rgb(238, 238, 238);
$gray-medium: rgb(204, 204, 204);
$gray-dark: rgb(51, 51, 51);
$white: rgb(255, 255, 255);
$red: rgb(238, 0, 0);

/* RESET BROWSER CSS
----------------------------------------------------------------------------- */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, a, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { @include box-sizing(border-box); margin:0; padding:0; border:0; outline:0; background: transparent; font-size:100%; vertical-align: baseline; }
html, body { height: 100%; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
figure { position: relative;
  img { width:100%; }
}
nav {
  ul { list-style: none; }
}
img { max-width: 100% }
ul, ol { list-style-position: inside; }
blockquote, q { quotes: none;
  &:before, &:after { content:''; content: none; }
}
p { @include hyphenation; }
a {
  img { border: 0; }
}
del { text-decoration: line-through; }
ins { text-decoration: none; }
table { border-collapse: collapse; border-spacing: 0; }
hr { margin: 1em 0; padding:0; height:1px; border: 0; border-top: 1px solid #ccc; display: block; clear: both; }
input, select { vertical-align: middle; }
span.clear { width:100%; height:0; display: block; clear: both; }

@import "grid";