/* ==================================================================================================================== */
/* ! The 1140px Grid V2 by Andy Taylor \ http://cssgrid.net \ http://www.twitter.com/andytlr \ http://www.andytlr.com   */
/* ==================================================================================================================== */
/* Customized for Vingi (www.vingi.nl) */

.container {
  padding-left: 0;
  padding-right: 0;
}

.row {
  width: 100%;
  max-width: 1140px;
  min-width: 755px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  overflow: hidden;
}

.onecol, .twocol, .threecol, .fourcol, .fivecol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol, .twelvecol {
  position: relative;
}

.onecol, .twocol, .threecol, .fourcol, .fivecol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol {
  margin-right: 3.8%;
  float: left;
  min-height: 1px;
}

.row .onecol {
  width: 4.85%;
}

.row .twocol {
  width: 13.45%;
}

.row .threecol {
  width: 22.05%;
}

.row .fourcol {
  width: 30.75%;
}

.row .fivecol {
  width: 39.45%;
}

.row .sixcol {
  width: 48%;
}

.row .sevencol {
  width: 56.75%;
}

.row .eightcol {
  width: 65.4%;
}

.row .ninecol {
  width: 74.05%;
}

.row .tencol {
  width: 82.7%;
}

.row .elevencol {
  width: 91.35%;
}

.row .twelvecol {
  width: 100%;
  float: left;
}

.last {
  margin-right: 0;
}

img, object, embed {
  max-width: 100%;
}

img {
  height: auto;
}


/* Smaller screens */

@media only screen and (max-width: 1023px) {
  
  body {
    font-size: 0.8em;
    line-height: 1.5em;
  }
  
}


/* Mobile */

@media handheld, only screen and (max-width: 767px) {
  
  body {
    font-size: 16px;
    -webkit-text-size-adjust: none;
  }
  
  .row, body, .container {
    width: 100%;
    min-width: 0;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }
  
  .row .onecol, .row .twocol, .row .threecol, .row .fourcol, .row .fivecol, .row .sixcol, .row .sevencol, .row .eightcol, .row .ninecol, .row .tencol, .row .elevencol, .row .twelvecol {
    width: auto;
    float: none;
    margin-left: 0;
    margin-right: 0;
    padding-left: 20px;
    padding-right: 20px;
  }
  
}