/* Color names as found by http://www.colblindor.com/color-name-hue/ */

/*
Color palette: Marine Lab
Taken from http://www.colourlovers.com/palette/2495607/Marine_Lab

Denim: #145f94 / rgb(20, 95, 148)
Lochmara: #316991 / rgb(49, 105, 145)
White Lilac: #e8e8e9 / rgb(232, 232, 233)
Pale Pink: #f9d9e2 / rgb(249, 217, 226)
Como: #4e826a / rgb(78, 130, 106)
*/
$shade-neutral: rgb(232, 232, 233);
$shade1-lighter: rgb(249, 217, 226);
$shade1-darker: rgb(78, 130, 106);
$shade2-lighter: rgb(49, 105, 145);
$shade2-darker: rgb(20, 95, 148);