/* Color names as found by http://www.colblindor.com/color-name-hue/ */

/*
Color palette: Giant Goldfish
Taken from http://www.colourlovers.com/palette/92095/Giant_Goldfish

Turquoise Blue: #69d2e7 / rgb(105, 210, 231)
Scandal: #a7dbd8 / rgb(167, 219, 216)
Willow Brook: #e0e4cc / rgb(224, 228, 204)
Sun: #f38630 / rgb(243, 134, 48)
Safety Orange: #fa6900 / rgb(250, 105, 0)
*/
$shade-neutral: rgb(224, 228, 204);
$shade1-lighter: rgb(167, 219, 216);
$shade1-darker: rgb(105, 210, 231);
$shade2-lighter: rgb(243, 134, 48);
$shade2-darker: rgb(250, 105, 0);