/* Color names as found by http://www.colblindor.com/color-name-hue/ */

/*
Color palette: Wonderland
Taken from http://www.colourlovers.com/palette/2495241/W_o_n_d_e_r_l_a_n_d

Egg Sour: #fae3ca / rgb(250, 227, 202)
Watusi: #f2c9ba / rgb(242, 201, 186)
Careys Pink: #d1a3b0 / rgb(209, 163, 176)
Topaz: #848095 / rgb(132, 128, 149)
Opal: #a7c2c2 / rgb(167, 194, 194)
*/
$shade-neutral: rgb(250, 227, 202);
$shade1-lighter: rgb(167, 194, 194);
$shade1-darker: rgb(132, 128, 149);
$shade2-lighter: rgb(242, 201, 186);
$shade2-darker: rgb(209, 163, 176);