/* COLORS
----------------------------------------------------------------------------- */
/* palette colors */
@import "palette_giant-goldfish";

/* color shortcuts */
$txt-col: $gray-dark;
$txt-col-link: $shade2-darker;

/* CUSTOM MIXINS
----------------------------------------------------------------------------- */
@mixin button($em_font_size: 1.1, $background-color: $shade2-lighter, $text-color: $white) {
  @include dir_margin($padding, v); padding: $padding; border: 0; @include border-radius($padding / 2); background-color: $background-color; color: $text-color; @include em_font($em_font_size);
}

@mixin button_screen() {
  @include transition(background-color 0.3s ease-in, color 0.3s ease-in); cursor: pointer;
}

@mixin button_screen_hover($background-color: $shade2-darker, $text-color: $white) {
  background-color: $background-color; color: $text-color;
}

/* GENERAL STYLE
----------------------------------------------------------------------------- */
@media not print {
  body { @include print-utilities(screen); }
}
body { position: relative; color: $txt-col; @include em_font(1.0); font-family: Tahoma, Geneva, Verdana, sans-serif; letter-spacing: px_to_em(0.5); }
h1, h2, h3, h4, h5, h6 { padding-bottom: $padding / 2; font-weight: 700; font-family: Tahoma, Verdana, Geneva, sans-serif; }
h1 { @include em_font(1.9); }
h2 { @include em_font(1.7); }
h3 { @include em_font(1.3); }
h4 { @include em_font(1.2); }
h5 { @include em_font(1.1); }
h6 { @include em_font(1.0); }
table, p, ul, ol, dl { padding-bottom: $padding; }
table { text-align: left; }
ul { list-style-type: none; }
a { color: $txt-col-link; font-weight: 700; }

/* background, layout */
#header, #main, #footer { padding: $padding 0; }
body { background-color: $shade1-lighter; }
#header { padding-bottom: 0; background-color: $shade-neutral; }
#mainNav { margin-top: $padding; background-color: $shade1-darker; }
#main { background-color: $white; }
#footer { background-color: $shade1-lighter; }
div.gallery { position: relative; }

/* header, footer */
#header { min-height: $padding * 10; }

/* navigation */
nav {
  li { display: inline-block; }
  a { display: block; }
}
/* main navigation */
#mainNav {  @include dir_padding($padding, h); padding-top: $padding; @include border-top-radius($padding);
  ul { padding-bottom: 0; }
  a { padding: $padding / 2 $padding; @include border-top-radius($padding / 2); border-bottom: $brd-size-thick solid $shade-neutral; background-color: $white; color: $black;
    &.active { border-bottom-color: $shade2-lighter; }
  }
}

/* main */
#main {
  div {
    &.row {
      &:not(.pageTitle) { padding-bottom: $padding; }
    }
  }
  p {
    &.text { max-width: 45em; }
    &.description { @extend p.text; font-style: italic; }
  }
  .label { font-weight: 700; }
}

/* forms */
form { display: inline-block;
  fieldset {
    legend { padding-top: $padding / 2; color: $shade2-darker; font-weight: 700; @include em_font(1.2); }
    div { padding: $padding; border-bottom: $brd-size-thin solid $shade-neutral; }
    fieldset { @include dir_margin($padding, h); border: $brd-size-thick solid $shade1-darker; @include border-radius($padding / 2); @include em_font(0.8);
      legend { @include dir_padding($padding, h); color: $shade1-darker; }
      div { border-bottom: 0; }
    }
  }
  input.text, textarea { padding: px_to_em(3); width: 21em; border: px_to_em(2) solid $gray-medium; @include em_font(0.8); font-family: Tahoma, Geneva, Verdana, sans-serif; letter-spacing: px_to_em(0.5); }
  input {
    &[type="submit"] { @include button(); }
  }
}

/* media uploader */
#mediaUploader { border: $brd-size-thick dashed $shade-neutral; }
#mediaUploaderText { padding: $padding * 15 $padding; text-align: center;
  p {
    &:first-child { @include em_font(1.5); }
    &:not(:first-child) { padding-bottom: 0; }
  }
  button { @include button(0.8, $shade1-lighter, $gray-dark); }
}
#mediaUploaderButtons {
  button { @include button(); }
}

/* PAGE-SPECIFIC STYLES
----------------------------------------------------------------------------- */
body {
  &.login {
    &.index {
      #main { @include dir_padding($padding * 5, v); }
      h1 { display: none; }
    }
  }
  &.home {
    h1 { display: none; }
  }
}