/* SETUP
----------------------------------------------------------------------------- */
$font-size-base: 12;
$default-line-height: 1.3;

@import "base";

$padding: px_to_em(10);
$brd-size-thin: px_to_em(1);
$brd-size-thick: px_to_em(3);
$brd-radius: px_to_em(5);

@import "style";

/* HANDHELD STYLE
----------------------------------------------------------------------------- */
/* general handheld settings */
a { text-decoration: none; border-bottom: $brd-size-thin solid $txt-col-link; }

/* navigation */
nav { border-bottom: 0; }
/* main navigation */
#mainNav {
  li { margin-bottom: $padding / 2; }
}

/* forms */
form {
  label { display: block; }
}