/* SETUP
----------------------------------------------------------------------------- */
$font-size-base: 12;
$default-line-height: 1.3;

@import "base";

$padding: px_to_em(10);
$brd-size-thin: px_to_em(1);
$brd-size-thick: px_to_em(3);
$brd-radius: px_to_em(5);

@import "style";

/* PRINT STYLE
----------------------------------------------------------------------------- */
/* general print settings */
body { @include print-utilities(); color: $gray-dark; font-family: Baskerville, “Times New Roman”, Times, serif; letter-spacing: 0; }
h1, h2, h3, h4, h5, h6 { font-family: Baskerville, Times, “Times New Roman”, serif; }
a { text-decoration: none; border-bottom: $brd-size-thin solid $shade1-darker; color: $shade1-darker;
  &:after { content: " (" attr(href) ") "; font-style: italic; }
  img { border-bottom: 0; }
}

/* background, layout */
body, #main { background-color: $white; }
body { margin: 0; padding: 0; width: 100%; }

/* forms */
form {
  fieldset {
    legend { color: $shade1-darker; }
    fieldset {
      legend { color: $shade1-darker; }
    }
  }
  label { display: block; }
  input {
    &[type="submit"] {
      background-color: $shade1-lighter;
    }
  }
}