/* SETUP
----------------------------------------------------------------------------- */
$font-size-base: 16;
$default-line-height: 1.3;

@import "base";

$padding: px_to_em(10);
$brd-size-thin: px_to_em(1);
$brd-size-thick: px_to_em(3);
$brd-radius: px_to_em(5);

@import "style";

/* SCREEN STYLE
----------------------------------------------------------------------------- */
/* general screen settings */
a { text-decoration: none;
  &:hover { border-bottom: $brd-size-thin solid $txt-col-link; }
}

/*navigation*/
/* main navigation */
#mainNav {
  li { margin-bottom: $padding; }
  a { @include transition(border-bottom-color 0.3s ease-in);
    &.active { border-bottom-color: $shade2-lighter; }
    &:hover { border-bottom-color: $shade2-darker; }
  }
}
/* user navigation */
#userNav { float: right;
  li { margin-right: $padding; }
}

/* forms */
form {
  label { width: 7.5em; display: inline-block; vertical-align: top; cursor: pointer; }
  input {
    &[type="submit"] { @include button_screen();
      &:hover { @include button_screen_hover(); }
    }
  }
}

/* media uploader */
#mediaUploaderText {
  button { @include button_screen();
    &:hover { @include button_screen_hover($shade1-darker, $gray-dark); }
  }
}
#mediaUploaderButtons {
  button { @include button_screen();
    &:hover { @include button_screen_hover(); }
  }
}

/* HIELKE
----------------------------------------------------------------------------- */
/* Live stream */
#filters { float: right;
  .filter { margin-left: $padding; @include border-radius($padding / 2); float: left; }
  select { padding: 5.5px; width: 200px; border: $brd-size-thin solid $gray-medium;
    &:focus { border: $brd-size-thin solid $gray-dark; }
  }
  input { padding: 6.5px; width: 200px; border: $brd-size-thin solid $gray-medium;
    &:focus { border: $brd-size-thin solid $gray-dark; }
  }
}

#latestUploaders { max-height: 110px; overflow: hidden;
  img { width: 10%; float: left; }
}
#latestUploads, #popularUploads { margin: 0 auto; width: 100%;
  img { margin: 10px 10px 10px 0px; min-height: 150px; }
  div {
    img { margin: 0; width: 100%; }
  }
  li { line-height: 16px; }
}
#latestUploads {
  img { width: 20%; }
}
#popularUploads {
  img { width: 43%; }
}

#viewType{
  font-size: 75% !important;
}

.image-details{
  z-index: 100;
  background: #FFF;
  position: absolute;
  height: auto;
  width: 210px;
  border: 1px solid #000;
  padding: 10px;
  font-size: 10px;
}

/* Livestream */

#uploadContent{
    overflow: visible;
}

/* upload media */

#fileInput{
    display: none;
}

#headerMediaUploader h2{
    float: left;
}

#uploadButtons{
    font-size: 75%;
    float: right;
    margin-top: 5px;
}

#mediaUploader{
    min-height: 380px;
    height: auto;
}

#mediaUploaderText{
    padding: 7.5em 0.625em;
}

.imageBlock{
    position: relative;
    width: 165px;
    height: 185px;
    display: inline-block;
    vertical-align: top;
    margin: 8px;
    border: 1px solid #ccc;
}

.imageBlock img.selected{
    border: 3px solid #FA9600;
}

.imageBlock .image{
    text-align: center;
    width: 165px;
    height: 115px;
    display:table-cell;
    vertical-align:middle;
    padding: 5px;
}

.imageBlock .image img{
    max-width: 145px;
    max-height: 115px;
    display:block;
    margin-left:auto;
    margin-right:auto;
    vertical-align:middle;
}

.imageBlock .text{
    font-size: 13px;
    font-weight: bold;
    background: #ECECEC;
    padding: 10px 5px 5px 5px;
    width: 100%;
    height: 60px;
    position: absolute;
    bottom: 0px;
}

/* user profile */

#userImage{
    width: 100%;
}

#profileHeader ul{
    list-style-type: none;
}

#profileGroups{
    margin-top: 25px;
}

#profileGroups img{
    width: 125px;
    height: 125px;
}