
/**
 * General classes
*/

.overflow{
    overflow: visible;
}

.hidden > img{
    display: none;
}

.button{
    background-color: #F38630;
    border: 0 none;
    border-radius: 3px;
    color: #FFFFFF;
    font-size: 1.1em;
    line-height: 1.3em;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
}

.button:hover{
    cursor: pointer;
    transition: background-color 0.3s ease-in 0s, color 0.3s ease-in 0s;
}

/**
 * Page template styles
*/

html, body, .container, #main {
    background: #ECEDF2;
}
html, body, .container {
    height: 100%;
    background: #1C1811;
    background: url(http://vingi.nl/assets/img/footer_bg.png) repeat;
}

.container.private h1, .container.private h2 {
    color: #091D42;
}

.container, #main {
}

#main {
    background: url(http://vingi.nl/assets/img/main_bg.png) repeat;
    border-bottom: solid 1px #BBB;
}

#main, #footer {
}

#header {
    border-bottom: solid 1px #474238;
    background: url(http://vingi.nl/assets/img/footer_bg.png) repeat;
}

#header img{
    height: 50px;
}

#main {
    box-shadow:inset 0px 10px 10px -8px rgba(0,0,0,220);
    border-top: solid 1px #100d09;
}

#footer {
    width: 100%;
    background: #1C1811;
    color: #ECEDF2;
    background: url(http://vingi.nl/assets/img/footer_bg.png) repeat;
    box-shadow:inset 0px 10px 10px -5px rgba(0,0,0,180);
    border-top: solid 1px #EEE;
}

#footer h2{
    color: #ECEDF2;
}

#mainNav {
    padding: 0;
}

#mainNav a{

}

#mainNav li{
    margin: 0;
}

#userNav{
    font-size: 90%;
}

#userNav ul li a.active{
    border-bottom: 1px solid #FA6900;
}

#mediaUploader {
    border: 0.188em dashed #a7a7a7;
}

#mediaUploaderText button {
    background: #F59E59
}

#mediaUploaderText button:hover {
    background: #F38630
}

.highlightUploader {
    border: 0.188em dashed #b0c8f4 !important;
}

.highlightUploader #mediaUploaderText {
    background: #d2dff6;
}

/**
 * Form styles
*/

.form form fieldset legend {
    color: #091D42;
    margin: 10px;
    line-height: 30px;
}

.form form label {
    line-height: 45px;
    width: 150px;
}

.form form input[type="text"], #main form input[type="password"], #main form input[type="email"], #main form input[type="tel"], #main form textarea {
    padding: 12px 10px 12px 10px;
    height: inherit;
    width: 220px;
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.2);
}
.form form input[type="submit"] {
    padding: 8px;
    min-width: 120px;
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.2);
    float: right;
    margin-right: 10px;
}

/**
 * Login page
*/

#formLogin {
    margin: 50px 0 50px 0;
}

.loginPage{
    padding: 100px 0 100px 0;
}

.groupMembers img{
    max-width: 128px;
    
}

/**
 * Filters for livestream
*/

#searchInput{
    box-shadow: none !important;
    padding: 6.5px 10px 6.5px 10px !important;
}

/**
 * Imageblock upload page
*/

/* line 125, sass/screen.scss */
#mediaUploader {
	min-height: 380px;
	height: auto;
}

/* line 130, sass/screen.scss */
#mediaUploaderText {
	padding: 7.5em 10px;
}

/* line 134, sass/screen.scss */
.imageBlock {
	position: relative;
	width: 165px;
	height: 185px;
	display: inline-block;
	vertical-align: top;
	margin: 8px;
	border: 1px solid #ccc;
    background: #ECECEC;
}

/* line 144, sass/screen.scss */
.imageBlock img.selected {
	border: 2px solid #FA9600;
}

/* line 148, sass/screen.scss */
.imageBlock .image {
	text-align: center;
	width: 165px;
	height: 130px;
	vertical-align: middle;
	display: table-cell;
	padding: 5px;
}

/* line 157, sass/screen.scss */
.imageBlock .image img {
	max-width: 145px;
	max-height: 115px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	vertical-align: middle;
	border: solid 1px #DDD;
	background: white;
}

/* line 166, sass/screen.scss */
.imageBlock .text {
	font-size: 13px;
	font-weight: bold;
	position: absolute;
	width: 142px;
	height: 25px;
	bottom: 30px;
	left: 10px;
	overflow: hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}

.groupItem .groupName{
    width: 200px;
    overflow: hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}

#groupsWrapper select{
    font-weight: normal;
    padding: 5px 5px 5px 10px;
    font-size: 15px;
}

.imageBlock.done {
	background-color: #b6f4b4;
	border: solid 1px #64a862;
}
.imageBlock.uploading {
	background-color: #d2dff6;
	border: solid 1px #848fa3;
}

.imageBlock .filename{
    display: none;
}

.imageBlock .text input{
    border: 1px solid #ccc;
    padding: 3px;
    margin: -4px;
    font: inherit;
	width: 142px;
}

.imageBlock.done .progressBar {
	opacity: 0;
}

.imageBlock .progressBar {
    width: 143px;
    height: 15px;
    border:solid 1px #666;
    position: absolute;
    margin: 10px;
    bottom: 0;
    left: 0;
	-webkit-transition:opacity 0.8s;
	-ms-transition:opacity 0.8s;
	-moz-transition:opacity 0.8s;
	-o-transition:opacity 0.8s;
}

.imageBlock .progressBar .progress {
    height: 13px;
    background: green;
    width: 0;
	color: white;
	-webkit-transition: width 0.2s;
	-ms-transition: width 0.2s;
	-moz-transition: width 0.2s;
	-o-transition: width 0.2s;
}

.imageBlock:not(.done) .progressBar .progress {
	border: 1px solid gainsboro;
	border: 1px solid rgba(0, 0, 0, 0.1);
	text-transform:uppercase;
	text-align:center;
	text-shadow:1px 1px white;
	cursor:pointer;
	-webkit-transition:all 1.5s;
	-ms-transition:all 1.5s;
	-moz-transition:all 1.5s;
	-o-transition:all 1.5s;
	transition:all 1.5s;
	background-color: green;
	background-repeat: repeat-x;
	background-position: 8px 0px;
	background-size: 40px 20px;
	background-image: -webkit-linear-gradient(315deg,transparent,transparent 33%,rgba(0, 0, 0, 0.12) 33%,rgba(0, 0, 0, 0.12) 66%,transparent 66%,transparent);
	background-image: -moz-linear-gradient(315deg,transparent,transparent 33%,rgba(0, 0, 0, 0.12) 33%,rgba(0, 0, 0, 0.12) 66%,transparent 66%,transparent);
	background-image: -o-linear-gradient(315deg,transparent,transparent 33%,rgba(0, 0, 0, 0.12) 33%,rgba(0, 0, 0, 0.12) 66%,transparent 66%,transparent);
	background-image: linear-gradient(315deg,transparent,transparent 33%,rgba(0, 0, 0, 0.12) 33%,rgba(0, 0, 0, 0.12) 66%,transparent 66%,transparent);
	-webkit-animation: pb 1.5s linear 0 infinite;
	-ms-animation: pb 1.5s linear 0 infinite;
	-o-animation: pb 1.5s linear 0 infinite;
	-moz-animation: pb 1.5s linear 0 infinite;
}

@-webkit-keyframes pb { 0% { background-position:100px 0px; } 100% { background-position:20px 0; } }
@-ms-keyframes pb { 0% { background-position:100px 0px; } 100% { background-position:20px 0; } }
@-moz-keyframes pb { 0% { background-position:100px 0px; } 100% { background-position:20px 0; } }
@-o-keyframes pb { 0% { background-position:100px 0px; } 100% { background-position:20px 0; } }


/**
 * Media view
 */

.mediaView .media {
	max-height: 600px;
	max-width: 100%;
	margin: 0 auto;
}

.mediaView .mediaWrapper{
	text-align: center;
	border: solid 1px #CCC;
	padding: 15px;
	background: #FFF;
        -webkit-transition: -webkit-transform .15s linear;
        -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25);
        -moz-box-shadow: 0 3px 6px rgba(0,0,0,.25);
}

.mediaView .mediaWrapper .title{
    font-size: 25px;
    margin: 10px 0px 10px 0px;
}

#mediaNav{
    padding-top: 10px;
    text-align: center;
}

#mediaNav .mediaName{
    font-size: 10px;
    white-space: nowrap;
    width: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mediaView .mediaWrapper .mediaDate{
    font-size: 13px;
    color: #555;
}

#mediaNav ul{
    margin-right: 75px;
}

#mediaNav li{
    background: #FFF;
    padding: 7px 7px 15px 7px;
    text-align: left;
    vertical-align: top;
}

#mediaNav img{
    height: 80px;
    width: 80px;
}

#mediaNav ul li:nth-child(even) img{
    height: 110px;
    width: 110px;
}

#mediaNav .prev{
    float: left;
    position: relative;
    top: 20px;
    opacity: 0.5;
}

#mediaNav .next{
    float: right;
    position: relative;
    bottom: 150px;
    opacity: 0.5;
}

#mediaNav .prev:hover,
#mediaNav .next:hover{
    opacity: 1;
}

.mediaInfo{
    margin-bottom: 15px;
    border-radius: 3px;
    padding: 10px;
    color: #777;
    border: 1px solid #999;
    -webkit-box-shadow: 0 1px 1px #C1BEBA inset;
    -moz-box-shadow: 0 1px 1px #c1beba inset;
    box-shadow: 0 1px 1px #C1BEBA inset;
}

.mediaInfo .userIcon{
    max-width: 55px;
}

.mediaInfo a{
    vertical-align: top;
    margin-left: 8px;
}

.mediaInfo ul li{
    padding: 0px 0px 5px 0px;
}

.mediaInfo .title{
    font-size: 16px;
    color: #333;
    display: block;
}

.mediaInfo .title span{
    font-size: 11px;
    color: #444;
}

.mediaInfo a{
    font-size: 16px;
    font-weight: normal;
}

.mediaInfo .icon{
    max-width: 18px;
    opacity: 0.7;
    margin-right: 5px;
    position: relative;
    top: 2px;
}

.mediaInfo .edit{
    float: right;
}

.mediaInfo .edit:hover{
    cursor: pointer;
}

.mediaInfo table th{
    font-size: 16px;
    font-weight: normal;
    color: #FA6900;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
}

.mediaInfo table td input{
    margin-left: 40px;
    margin-bottom: 5px;
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 7px 5px 7px;
    -moz-box-shadow: inset 0 0 1px #444;
    -webkit-box-shadow: inset 0 0 1px #444;
    box-shadow: inset 0 0 1px #444;
    width: 170px;
    color: #555;
}

#mediaTagCloud{
    height: 100px;
    font-size: 50%;
}

/* Media edit page */

#mediaEditForm{
    width: 100%;
    height: auto;
    font-weight: normal;
}

#mediaEditForm .mediaInfo{
    margin: 0px 0px 15px 0px;
}

#mediaEditForm .mediaInfo .title{
    padding-bottom: 5px;
    border-bottom: 1px solid #999;
}

#mediaEditForm input{
    background: none;
    border: none;
    padding: 8px 0px 8px 0px;
    font-size: 16px;
    width: 95%;
    color: #777;
}

#mediaEditForm textarea{
    background: none;
    box-shadow: none !important;
    border: none;
    width: 95% !important;
    min-height: 140px;
    padding: 8px 0px 8px 0px !important;
    font-size: 16px;
    color: #777;
}

.mediaWrapper .icon,
.mediaWrapper .userIcon,
.mediaWrapper .fullscreen{
    opacity: 0.6;
    width: 22px;
    float: right;
    position: relative;
    bottom: 22px;
    right: 2px;
}

.mediaWrapper select{
    float: left;
    position: relative;
    bottom: 22px;
    margin-right: 8px;
    display: none;
}
.mediaWrapper .userIcon,
.mediaWrapper .icon{
    float: left;
}

.mediaWrapper .userIcon{
    width: 30px;
    bottom: 26px;
    margin-right: 3px;
}

.mediaWrapper .icon:hover,
.mediaWrapper .userIcon:hover,
.mediaWrapper .fullscreen:hover{
    cursor: pointer;
    opacity: 1;
    transform: scale(1.25);
}

/**
 * Images photogallery
 */
 .contentWrapper .icon{
     max-width: 20px;
     position: relative;
     top: 4px;
     padding-right: 5px;
     opacity: 0.85;
 }
 
 .contentWrapper .userIcon{
     max-width: 12px;
     position: relative;
     top: 1px;
     left: 2px;
     
 }
 
 .contentWrapper .userName{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
 }
 
.outerWrapper{
    position: relative;
    float: left;
    margin: 5px;
	height: 128px;
	width: 128px;
}

.outerWrapper>img {
	height: 128px;
	width: 128px;
	border: solid 1px #CCC;
}

.imageDetails {
    position: absolute;
    left: -21px;
    top: -31px;
    background: #FFF;
    height: auto;
    border: 1px solid #666;
    padding: 10px 20px 0px 20px;
    font-size: 10px;
    border-radius: 3px;
    width: 168px;
    z-index: 100;
    box-shadow: 1px 1px 20px 5px rgba(0,0,0,0.25);
}

.contentWrapper{
    
}

.imageDetails .imageName{
    font-size: 11px;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    font-weight: bold;
}

.imageDetails .imageWrapper{
    margin: 0px auto;
}

/* line 77, sass/screen.scss */
#latestUploads div img, 
#popularUploads div img {
    margin: 0;
}
/* line 79, sass/screen.scss */
#latestUploads li, 
#popularUploads li {
    line-height: 16px;
}

/* Album pages */

.scrollable {
	height: 800px;
	overflow-x: visible;
	overflow-y: scroll;
}


/* Comments */

#comments{
    margin-top: 15px;
    border-top: 1px solid #CCC;
    padding-top: 10px;
}

#commentCreate,
#commentCreateBody{
    width: 98.5% !important;
    box-shadow: none !important;
}

#commentCreate div{
    padding: 10px 0px !important;
}

#comments article{
    padding: 10px;
    margin-bottom: 10px;
}

#comments .meta{
    font-size: 12px;
    color: #777;
}

#comments .editdate{
    font-size: 10px;
    font-style: italic;
    color: #777;
}

#comments .avatar{
    float: left;
    margin-right: 10px; 
}

#comments .modify{
    float: right;
    cursor: pointer;
}

#comments .body .text{
    border-bottom: 1px solid #CCC;
}
#comments .body textarea{
    font-family: inherit;
    border: 1px solid #CCCCCC;
    font-size: 0.8em;
    letter-spacing: 0.031em;
    line-height: 1.3em;
    height: 150px;
    padding: 10px;
    width: 98% !important;
}

/* Explore page */

.section{
    padding: 15px;
}

.section .title{
    font-size: 23px;
    font-weight: bold;
    line-height: 20px;
    padding: 15px 0px 25px 0px;
}

/** Highlighted tables **/

#highlighted{
}


/** Tagcloud **/

#tagCloud{
}

#wordcloud{ 
    width: 100%;
    height: 290px; 
    position: relative;
}

/* fonts */

div.jqcloud {
/*  font-family: "Helvetica", "Arial", sans-serif;*/
  font-size: 10px;
  line-height: normal;
}

div.jqcloud a {
  font-size: inherit;
  text-decoration: none;
}
div.jqcloud span:hover{
    cursor: default;
}

div.jqcloud span.w10 { font-size: 550%; }
div.jqcloud span.w9 { font-size: 500%; }
div.jqcloud span.w8 { font-size: 450%; }
div.jqcloud span.w7 { font-size: 400%; }
div.jqcloud span.w6 { font-size: 350%; }
div.jqcloud span.w5 { font-size: 300%; }
div.jqcloud span.w4 { font-size: 250%; }
div.jqcloud span.w3 { font-size: 200%; }
div.jqcloud span.w2 { font-size: 150%; }
div.jqcloud span.w1 { font-size: 100%; }

/* colors */

div.jqcloud { color: #fa6900; }
div.jqcloud a { color: inherit; }
div.jqcloud a:hover { color: #e15e00; }
div.jqcloud a:hover { color: #c85400; }
div.jqcloud span.w10 { color: #fa6900; }
div.jqcloud span.w9 { color: #e15e00; }
div.jqcloud span.w8 { color: #c85400; }
div.jqcloud span.w7 { color: #af4900; }
div.jqcloud span.w6 { color: #642a00; }
div.jqcloud span.w5 { color: #4b1f00; }
div.jqcloud span.w4 { color: #fa6900; }
div.jqcloud span.w3 { color: #4b1f00; }
div.jqcloud span.w2 { color: #7d3400; }
div.jqcloud span.w1 { color: #fb964c; }

/* layout */

div.jqcloud {
  overflow: hidden;
  position: relative;
}

div.jqcloud span { padding: 0; }



/** Albums **/

.albumAdd {
	height: 800px;
	margin: 0 auto;
	

}

.albumAddButtons {
	vertical-align: middle;
}

.albumImageSelected {
	border: solid 2px #F38630;
}

ul.polaroids{
    margin: 0 0 18px -30px;
    list-style: none outside;
    overflow: visible !important;
}

ul.polaroids a {
    color: #333;
}

ul.polaroids li {
    display: inline;
    background: white;
    float: left;
    margin: 0 0 27px 30px;
    width: 148px;
    padding: 10px 10px 15px;
    text-align: center;
    font-family: "Marker Felt", sans-serif;
    text-decoration: none;
    color: #333;
    font-size: 15px;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, .25);
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,.25);
    -webkit-transform: rotate(-2deg);
    -webkit-transition: -webkit-transform .15s linear;
    -moz-transform: rotate(-2deg);
    -webkit-backface-visibility: hidden;
}

ul.polaroids img {
    display: block;
    width: 128px;
    margin-bottom: 12px;
}

ul.polaroids a:after {
    content: attr(title);
}

/* By default, we tilt all our images -2 degrees */
ul.polaroids li {
    -webkit-backface-visibility: hidden;
    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
}
 
/* Rotate all even images 2 degrees */
ul.polaroids li:nth-child(even) {
    -webkit-backface-visibility: hidden;
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
}
 
/* Don't rotate every third image, but offset its position */
ul.polaroids li:nth-child(3n) {
    -webkit-backface-visibility: hidden;
    -webkit-transform: none;
    -moz-transform: none;
    position: relative;
    top: -5px;
}
 
/* Rotate every fifth image by 5 degrees and offset it */
ul.polaroids li:nth-child(5n) {
    -webkit-backface-visibility: hidden;
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    position: relative;
    right: 5px;
}
 
/* Keep default rotate for every eighth, but offset it */
ul.polaroids li:nth-child(8n) {
    position: relative;
    top: 8px;
    right: 5px;
}
 
/* Keep default rotate for every eleventh, but offset it */
ul.polaroids li:nth-child(11n) {
    position: relative;
    top: 3px;
    left: -5px;
}

/* Scale the images on hover, add transitions for smoothing things out, and ensure the hover appears on top */
ul.polaroids li:hover {
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    position: relative;
    z-index: 5;
}

ul.polaroids li:hover a{
}

/* Add drop shadows and smooth out the transition (Safari only) */
ul.polaroids li {
    -webkit-transition: -webkit-transform .15s linear;
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25);
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,.25);
}
 
/* On hover, darken the shadows a bit */
ul.polaroids li {
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.5);
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,.5);
}

ul.polaroids li span{
    font-size: 12px;
    line-height: 10px;
    color: #555;
}

ul.polaroids .icon{
    width: 12px;
    opacity: 0.8;
    float: left;
    position: relative;
    top: 4px;
    left: 22px;
}

ul.polaroids .usericon{
    width: 17px;
    opacity: 0.7;
    float: left;
    position: relative;
    left: 13px;
}

#supersized-loader { position:absolute; top:50%; left:50%; z-index:0; width:60px; height:60px; margin:-30px 0 0 -30px; text-indent:-999em; background:url(../img/progress.gif) no-repeat center center;}
	
#supersized {  display:block; position:fixed; left:0; top:0; overflow:hidden; z-index:-999; height:100%; width:100%; }
#supersized img { width:auto; height:auto; position:relative; display:none; outline:none; border:none; }
#supersized.speed img { -ms-interpolation-mode:nearest-neighbor; image-rendering: -moz-crisp-edges; }	/*Speed*/
#supersized.quality img { -ms-interpolation-mode:bicubic; image-rendering: optimizeQuality; }			/*Quality*/

#supersized li { display:block; list-style:none; z-index:-30; position:fixed; overflow:hidden; top:0; left:0; width:100%; height:100%; background:#111; }
#supersized a { width:100%; height:100%; display:block; }
#supersized li.prevslide { z-index:-20; }
#supersized li.activeslide { z-index:-10; }
#supersized li.image-loading { background:#111 url(../img/progress.gif) no-repeat center center; width:100%; height:100%; }
#supersized li.image-loading img{ visibility:hidden; }
#supersized li.prevslide img, #supersized li.activeslide img{ display:inline; }
