/* SETUP
----------------------------------------------------------------------------- */
/* IMPORTS
----------------------------------------------------------------------------- */
/* BASIC FUNCTIONS
----------------------------------------------------------------------------- */
/* converts given size in pixels into its em size equivalent */
/* BASIC MIXINS
----------------------------------------------------------------------------- */
/* includes a font size and line height property of given em size */
/* includes either horizontal or vertical margins or paddings of given size */
/* includes either horizontal or vertical margins of given size */
/* includes either horizontal or vertical paddings of given size */
/* BASIC COLORS
----------------------------------------------------------------------------- */
/* Color names as found by http://www.colblindor.com/color-name-hue/ */
/*
Black: #000 / rgb(0, 0, 0)
White Smoke: #eee / rgb(238, 238, 238)
Very Light Grey : #ccc / rgb(204, 204, 204)
Night Rider: #333 / rgb(51, 51, 51)
White: #fff / rgb(255, 255, 255)
Red: #e00 / rgb(238, 0, 0)
*/
/* RESET BROWSER CSS
----------------------------------------------------------------------------- */
/* line 72, sass/_base.scss */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, a, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 73, sass/_base.scss */
html, body {
  height: 100%;
}

/* line 74, sass/_base.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 75, sass/_base.scss */
figure {
  position: relative;
}
/* line 76, sass/_base.scss */
figure img {
  width: 100%;
}

/* line 79, sass/_base.scss */
nav ul {
  list-style: none;
}

/* line 81, sass/_base.scss */
img {
  max-width: 100%;
}

/* line 82, sass/_base.scss */
ul, ol {
  list-style-position: inside;
}

/* line 83, sass/_base.scss */
blockquote, q {
  quotes: none;
}
/* line 84, sass/_base.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

/* line 86, sass/_base.scss */
p {
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

/* line 88, sass/_base.scss */
a img {
  border: 0;
}

/* line 90, sass/_base.scss */
del {
  text-decoration: line-through;
}

/* line 91, sass/_base.scss */
ins {
  text-decoration: none;
}

/* line 92, sass/_base.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 93, sass/_base.scss */
hr {
  margin: 1em 0;
  padding: 0;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  display: block;
  clear: both;
}

/* line 94, sass/_base.scss */
input, select {
  vertical-align: middle;
}

/* line 95, sass/_base.scss */
span.clear {
  width: 100%;
  height: 0;
  display: block;
  clear: both;
}

/* ==================================================================================================================== */
/* ! The 1140px Grid V2 by Andy Taylor \ http://cssgrid.net \ http://www.twitter.com/andytlr \ http://www.andytlr.com   */
/* ==================================================================================================================== */
/* Customized for Vingi (www.vingi.nl) */
/* line 6, sass/_grid.scss */
.container {
  padding-left: 0;
  padding-right: 0;
}

/* line 11, sass/_grid.scss */
.row {
  width: 100%;
  max-width: 1140px;
  min-width: 755px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  overflow: hidden;
}

/* line 21, sass/_grid.scss */
.onecol, .twocol, .threecol, .fourcol, .fivecol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol, .twelvecol {
  position: relative;
}

/* line 25, sass/_grid.scss */
.onecol, .twocol, .threecol, .fourcol, .fivecol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol {
  margin-right: 3.8%;
  float: left;
  min-height: 1px;
}

/* line 31, sass/_grid.scss */
.row .onecol {
  width: 4.85%;
}

/* line 35, sass/_grid.scss */
.row .twocol {
  width: 13.45%;
}

/* line 39, sass/_grid.scss */
.row .threecol {
  width: 22.05%;
}

/* line 43, sass/_grid.scss */
.row .fourcol {
  width: 30.75%;
}

/* line 47, sass/_grid.scss */
.row .fivecol {
  width: 39.45%;
}

/* line 51, sass/_grid.scss */
.row .sixcol {
  width: 48%;
}

/* line 55, sass/_grid.scss */
.row .sevencol {
  width: 56.75%;
}

/* line 59, sass/_grid.scss */
.row .eightcol {
  width: 65.4%;
}

/* line 63, sass/_grid.scss */
.row .ninecol {
  width: 74.05%;
}

/* line 67, sass/_grid.scss */
.row .tencol {
  width: 82.7%;
}

/* line 71, sass/_grid.scss */
.row .elevencol {
  width: 91.35%;
}

/* line 75, sass/_grid.scss */
.row .twelvecol {
  width: 100%;
  float: left;
}

/* line 80, sass/_grid.scss */
.last {
  margin-right: 0;
}

/* line 84, sass/_grid.scss */
img, object, embed {
  max-width: 100%;
}

/* line 88, sass/_grid.scss */
img {
  height: auto;
}

/* Smaller screens */
@media only screen and (max-width: 1023px) {
  /* line 97, sass/_grid.scss */
  body {
    font-size: 0.8em;
    line-height: 1.5em;
  }
}
/* Mobile */
@media handheld, only screen and (max-width: 767px) {
  /* line 109, sass/_grid.scss */
  body {
    font-size: 16px;
    -webkit-text-size-adjust: none;
  }

  /* line 114, sass/_grid.scss */
  .row, body, .container {
    width: 100%;
    min-width: 0;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }

  /* line 123, sass/_grid.scss */
  .row .onecol, .row .twocol, .row .threecol, .row .fourcol, .row .fivecol, .row .sixcol, .row .sevencol, .row .eightcol, .row .ninecol, .row .tencol, .row .elevencol, .row .twelvecol {
    width: auto;
    float: none;
    margin-left: 0;
    margin-right: 0;
    padding-left: 20px;
    padding-right: 20px;
  }
}
/* COLORS
----------------------------------------------------------------------------- */
/* palette colors */
/* Color names as found by http://www.colblindor.com/color-name-hue/ */
/*
Color palette: Giant Goldfish
Taken from http://www.colourlovers.com/palette/92095/Giant_Goldfish

Turquoise Blue: #69d2e7 / rgb(105, 210, 231)
Scandal: #a7dbd8 / rgb(167, 219, 216)
Willow Brook: #e0e4cc / rgb(224, 228, 204)
Sun: #f38630 / rgb(243, 134, 48)
Safety Orange: #fa6900 / rgb(250, 105, 0)
*/
/* color shortcuts */
/* CUSTOM MIXINS
----------------------------------------------------------------------------- */
/* GENERAL STYLE
----------------------------------------------------------------------------- */
@media not print {
  /* line 15, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/_print.scss */
  body .print-only {
    display: none;
  }
}
/* line 29, sass/_style.scss */
body {
  position: relative;
  color: #333333;
  font-size: 1em;
  line-height: 1.3em;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 0.042em;
}

/* line 30, sass/_style.scss */
h1, h2, h3, h4, h5, h6 {
  padding-bottom: 0.417em;
  font-weight: 700;
  font-family: Tahoma, Verdana, Geneva, sans-serif;
}

/* line 31, sass/_style.scss */
h1 {
  font-size: 1.9em;
  line-height: 1.3em;
}

/* line 32, sass/_style.scss */
h2 {
  font-size: 1.7em;
  line-height: 1.3em;
}

/* line 33, sass/_style.scss */
h3 {
  font-size: 1.3em;
  line-height: 1.3em;
}

/* line 34, sass/_style.scss */
h4 {
  font-size: 1.2em;
  line-height: 1.3em;
}

/* line 35, sass/_style.scss */
h5 {
  font-size: 1.1em;
  line-height: 1.3em;
}

/* line 36, sass/_style.scss */
h6 {
  font-size: 1em;
  line-height: 1.3em;
}

/* line 37, sass/_style.scss */
table, p, ul, ol, dl {
  padding-bottom: 0.833em;
}

/* line 38, sass/_style.scss */
table {
  text-align: left;
}

/* line 39, sass/_style.scss */
ul {
  list-style-type: none;
}

/* line 40, sass/_style.scss */
a {
  color: #fa6900;
  font-weight: 700;
}

/* background, layout */
/* line 43, sass/_style.scss */
#header, #main, #footer {
  padding: 0.833em 0;
}

/* line 44, sass/_style.scss */
body {
  background-color: #a7dbd8;
}

/* line 45, sass/_style.scss */
#header {
  padding-bottom: 0;
  background-color: #e0e4cc;
}

/* line 46, sass/_style.scss */
#mainNav {
  margin-top: 0.833em;
  background-color: #69d2e7;
}

/* line 47, sass/_style.scss */
#main {
  background-color: white;
}

/* line 48, sass/_style.scss */
#footer {
  background-color: #a7dbd8;
}

/* line 49, sass/_style.scss */
div.gallery {
  position: relative;
}

/* header, footer */
/* line 52, sass/_style.scss */
#header {
  min-height: 8.333em;
}

/* navigation */
/* line 56, sass/_style.scss */
nav li {
  display: inline-block;
}
/* line 57, sass/_style.scss */
nav a {
  display: block;
}

/* main navigation */
/* line 60, sass/_style.scss */
#mainNav {
  padding-right: 0.833em;
  padding-left: 0.833em;
  padding-top: 0.833em;
  -moz-border-radius-topleft: 0.833em;
  -webkit-border-top-left-radius: 0.833em;
  border-top-left-radius: 0.833em;
  -moz-border-radius-topright: 0.833em;
  -webkit-border-top-right-radius: 0.833em;
  border-top-right-radius: 0.833em;
}
/* line 61, sass/_style.scss */
#mainNav ul {
  padding-bottom: 0;
}
/* line 62, sass/_style.scss */
#mainNav a {
  padding: 0.417em 0.833em;
  -moz-border-radius-topleft: 0.417em;
  -webkit-border-top-left-radius: 0.417em;
  border-top-left-radius: 0.417em;
  -moz-border-radius-topright: 0.417em;
  -webkit-border-top-right-radius: 0.417em;
  border-top-right-radius: 0.417em;
  border-bottom: 0.25em solid #e0e4cc;
  background-color: white;
  color: black;
}
/* line 63, sass/_style.scss */
#mainNav a.active {
  border-bottom-color: #f38630;
}

/* main */
/* line 71, sass/_style.scss */
#main div.row:not(.pageTitle) {
  padding-bottom: 0.833em;
}
/* line 75, sass/_style.scss */
#main p.text, #main p.description {
  max-width: 45em;
}
/* line 76, sass/_style.scss */
#main p.description {
  font-style: italic;
}
/* line 78, sass/_style.scss */
#main .label {
  font-weight: 700;
}

/* forms */
/* line 82, sass/_style.scss */
form {
  display: inline-block;
}
/* line 84, sass/_style.scss */
form fieldset legend {
  padding-top: 0.417em;
  color: #fa6900;
  font-weight: 700;
  font-size: 1.2em;
  line-height: 1.3em;
}
/* line 85, sass/_style.scss */
form fieldset div {
  padding: 0.833em;
  border-bottom: 0.083em solid #e0e4cc;
}
/* line 86, sass/_style.scss */
form fieldset fieldset {
  margin-right: 0.833em;
  margin-left: 0.833em;
  border: 0.25em solid #69d2e7;
  -webkit-border-radius: 0.417em;
  -moz-border-radius: 0.417em;
  -ms-border-radius: 0.417em;
  -o-border-radius: 0.417em;
  border-radius: 0.417em;
  font-size: 0.8em;
  line-height: 1.3em;
}
/* line 87, sass/_style.scss */
form fieldset fieldset legend {
  padding-right: 0.833em;
  padding-left: 0.833em;
  color: #69d2e7;
}
/* line 88, sass/_style.scss */
form fieldset fieldset div {
  border-bottom: 0;
}
/* line 91, sass/_style.scss */
form input.text, form textarea {
  padding: 0.25em;
  width: 21em;
  border: 0.167em solid #cccccc;
  font-size: 0.8em;
  line-height: 1.3em;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 0.042em;
}
/* line 93, sass/_style.scss */
form input[type="submit"] {
  margin-top: 0.833em;
  margin-bottom: 0.833em;
  padding: 0.833em;
  border: 0;
  -webkit-border-radius: 0.417em;
  -moz-border-radius: 0.417em;
  -ms-border-radius: 0.417em;
  -o-border-radius: 0.417em;
  border-radius: 0.417em;
  background-color: #f38630;
  color: white;
  font-size: 1.1em;
  line-height: 1.3em;
}

/* media uploader */
/* line 98, sass/_style.scss */
#mediaUploader {
  border: 0.25em dashed #e0e4cc;
}

/* line 99, sass/_style.scss */
#mediaUploaderText {
  padding: 12.5em 0.833em;
  text-align: center;
}
/* line 101, sass/_style.scss */
#mediaUploaderText p:first-child {
  font-size: 1.5em;
  line-height: 1.3em;
}
/* line 102, sass/_style.scss */
#mediaUploaderText p:not(:first-child) {
  padding-bottom: 0;
}
/* line 104, sass/_style.scss */
#mediaUploaderText button {
  margin-top: 0.833em;
  margin-bottom: 0.833em;
  padding: 0.833em;
  border: 0;
  -webkit-border-radius: 0.417em;
  -moz-border-radius: 0.417em;
  -ms-border-radius: 0.417em;
  -o-border-radius: 0.417em;
  border-radius: 0.417em;
  background-color: #a7dbd8;
  color: #333333;
  font-size: 0.8em;
  line-height: 1.3em;
}

/* line 107, sass/_style.scss */
#mediaUploaderButtons button {
  margin-top: 0.833em;
  margin-bottom: 0.833em;
  padding: 0.833em;
  border: 0;
  -webkit-border-radius: 0.417em;
  -moz-border-radius: 0.417em;
  -ms-border-radius: 0.417em;
  -o-border-radius: 0.417em;
  border-radius: 0.417em;
  background-color: #f38630;
  color: white;
  font-size: 1.1em;
  line-height: 1.3em;
}

/* PAGE-SPECIFIC STYLES
----------------------------------------------------------------------------- */
/* line 115, sass/_style.scss */
body.login.index #main {
  padding-top: 4.167em;
  padding-bottom: 4.167em;
}
/* line 116, sass/_style.scss */
body.login.index h1 {
  display: none;
}
/* line 120, sass/_style.scss */
body.home h1 {
  display: none;
}

/* PRINT STYLE
----------------------------------------------------------------------------- */
/* general print settings */
/* line 18, sass/print.scss */
body {
  color: #333333;
  font-family: Baskerville, “Times New Roman”, Times, serif;
  letter-spacing: 0;
}
/* line 7, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/_print.scss */
body .noprint, body .no-print {
  display: none;
}
/* line 9, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/_print.scss */
body address.print-only, body article.print-only, body aside.print-only, body blockquote.print-only, body center.print-only, body dir.print-only, body div.print-only, body dd.print-only, body details.print-only, body dl.print-only, body dt.print-only, body fieldset.print-only, body figcaption.print-only, body figure.print-only, body form.print-only, body footer.print-only, body frameset.print-only, body h1.print-only, body h2.print-only, body h3.print-only, body h4.print-only, body h5.print-only, body h6.print-only, body hr.print-only, body header.print-only, body hgroup.print-only, body isindex.print-only, body menu.print-only, body nav.print-only, body noframes.print-only, body noscript.print-only, body ol.print-only, body p.print-only, body pre.print-only, body section.print-only, body summary.print-only, body ul.print-only {
  display: block;
}
/* line 12, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/_print.scss */
body a.print-only, body abbr.print-only, body acronym.print-only, body audio.print-only, body b.print-only, body basefont.print-only, body bdo.print-only, body big.print-only, body br.print-only, body canvas.print-only, body cite.print-only, body code.print-only, body command.print-only, body datalist.print-only, body dfn.print-only, body em.print-only, body embed.print-only, body font.print-only, body i.print-only, body img.print-only, body input.print-only, body keygen.print-only, body kbd.print-only, body label.print-only, body mark.print-only, body meter.print-only, body output.print-only, body progress.print-only, body q.print-only, body rp.print-only, body rt.print-only, body ruby.print-only, body s.print-only, body samp.print-only, body select.print-only, body small.print-only, body span.print-only, body strike.print-only, body strong.print-only, body sub.print-only, body sup.print-only, body textarea.print-only, body time.print-only, body tt.print-only, body u.print-only, body var.print-only, body video.print-only, body wbr.print-only {
  display: inline;
}

/* line 19, sass/print.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: Baskerville, Times, “Times New Roman”, serif;
}

/* line 20, sass/print.scss */
a {
  text-decoration: none;
  border-bottom: 0.083em solid #69d2e7;
  color: #69d2e7;
}
/* line 21, sass/print.scss */
a:after {
  content: " (" attr(href) ") ";
  font-style: italic;
}
/* line 22, sass/print.scss */
a img {
  border-bottom: 0;
}

/* background, layout */
/* line 26, sass/print.scss */
body, #main {
  background-color: white;
}

/* line 27, sass/print.scss */
body {
  margin: 0;
  padding: 0;
  width: 100%;
}

/* forms */
/* line 32, sass/print.scss */
form fieldset legend {
  color: #69d2e7;
}
/* line 34, sass/print.scss */
form fieldset fieldset legend {
  color: #69d2e7;
}
/* line 37, sass/print.scss */
form label {
  display: block;
}
/* line 39, sass/print.scss */
form input[type="submit"] {
  background-color: #a7dbd8;
}
