/* SETUP
----------------------------------------------------------------------------- */
/* IMPORTS
----------------------------------------------------------------------------- */
/* BASIC FUNCTIONS
----------------------------------------------------------------------------- */
/* converts given size in pixels into its em size equivalent */
/* BASIC MIXINS
----------------------------------------------------------------------------- */
/* includes a font size and line height property of given em size */
/* includes either horizontal or vertical margins or paddings of given size */
/* includes either horizontal or vertical margins of given size */
/* includes either horizontal or vertical paddings of given size */
/* BASIC COLORS
----------------------------------------------------------------------------- */
/* Color names as found by http://www.colblindor.com/color-name-hue/ */
/*
Black: #000 / rgb(0, 0, 0)
White Smoke: #eee / rgb(238, 238, 238)
Very Light Grey : #ccc / rgb(204, 204, 204)
Night Rider: #333 / rgb(51, 51, 51)
White: #fff / rgb(255, 255, 255)
Red: #e00 / rgb(238, 0, 0)
*/
/* RESET BROWSER CSS
----------------------------------------------------------------------------- */

@font-face{font-family:'Designio Regular';src:url('www.vingi.nl/assets/css/fonts/Designio%20Regular.otf');}


/* line 72, sass/_base.scss */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,a,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video
	{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	background: transparent;
	font-size: 100%;
	vertical-align: baseline;
}

/* line 73, sass/_base.scss */
html,body {
	height: 100%;
}

/* line 74, sass/_base.scss */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section
	{
	display: block;
}

/* line 75, sass/_base.scss */
figure {
	position: relative;
}
/* line 76, sass/_base.scss */
figure img {
	width: 100%;
}

/* line 79, sass/_base.scss */
nav ul {
	list-style: none;
}

/* line 81, sass/_base.scss */
img {
	max-width: 100%;
}

/* line 82, sass/_base.scss */
ul,ol {
	list-style-position: inside;
}

/* line 83, sass/_base.scss */
blockquote,q {
	quotes: none;
}
/* line 84, sass/_base.scss */
blockquote:before,blockquote:after,q:before,q:after {
	content: '';
	content: none;
}

/* line 86, sass/_base.scss */
p {
	-ms-word-break: break-all;
	word-break: break-all;
	word-break: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
}

/* line 88, sass/_base.scss */
a img {
	border: 0;
}

/* line 90, sass/_base.scss */
del {
	text-decoration: line-through;
}

/* line 91, sass/_base.scss */
ins {
	text-decoration: none;
}

/* line 92, sass/_base.scss */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* line 93, sass/_base.scss */
hr {
	margin: 1em 0;
	padding: 0;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	display: block;
	clear: both;
}

/* line 94, sass/_base.scss */
input,select {
	vertical-align: middle;
}

/* line 95, sass/_base.scss */
span.clear {
	width: 100%;
	height: 0;
	display: block;
	clear: both;
}

/* ==================================================================================================================== */
/* ! The 1140px Grid V2 by Andy Taylor \ http://cssgrid.net \ http://www.twitter.com/andytlr \ http://www.andytlr.com   */
/* ==================================================================================================================== */
/* Customized for Vingi (www.vingi.nl) */
/* line 6, sass/_grid.scss */
.container {
	padding-left: 0;
	padding-right: 0;
}

/* line 11, sass/_grid.scss */
.row {
	width: 100%;
	max-width: 1140px;
	min-width: 755px;
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
	overflow: hidden;
}

/* line 21, sass/_grid.scss */
.onecol,.twocol,.threecol,.fourcol,.fivecol,.sixcol,.sevencol,.eightcol,.ninecol,.tencol,.elevencol,.twelvecol
	{
	position: relative;
}

/* line 25, sass/_grid.scss */
.onecol,.twocol,.threecol,.fourcol,.fivecol,.sixcol,.sevencol,.eightcol,.ninecol,.tencol,.elevencol
	{
	margin-right: 3.8%;
	float: left;
	min-height: 1px;
}

/* line 31, sass/_grid.scss */
.row .onecol {
	width: 4.85%;
}

/* line 35, sass/_grid.scss */
.row .twocol {
	width: 13.45%;
}

/* line 39, sass/_grid.scss */
.row .threecol {
	width: 22.05%;
}

/* line 43, sass/_grid.scss */
.row .fourcol {
	width: 30.75%;
}

/* line 47, sass/_grid.scss */
.row .fivecol {
	width: 39.45%;
}

/* line 51, sass/_grid.scss */
.row .sixcol {
	width: 48%;
}

/* line 55, sass/_grid.scss */
.row .sevencol {
	width: 56.75%;
}

/* line 59, sass/_grid.scss */
.row .eightcol {
	width: 65.4%;
}

/* line 63, sass/_grid.scss */
.row .ninecol {
	width: 74.05%;
}

/* line 67, sass/_grid.scss */
.row .tencol {
	width: 82.7%;
}

/* line 71, sass/_grid.scss */
.row .elevencol {
	width: 91.35%;
}

/* line 75, sass/_grid.scss */
.row .twelvecol {
	width: 100%;
	float: left;
}

/* line 80, sass/_grid.scss */
.last {
	margin-right: 0;
}

/* line 84, sass/_grid.scss */
img,object,embed {
	max-width: 100%;
}

/* line 88, sass/_grid.scss */
img {
	height: auto;
}

/* Smaller screens */
@media only screen and (max-width: 1023px) {
	/* line 97, sass/_grid.scss */
	body {
		font-size: 0.8em;
		line-height: 1.5em;
	}
}
/* Mobile */
@media handheld , only screen and (max-width: 767px) {
	/* line 109, sass/_grid.scss */
	body {
		font-size: 16px;
		-webkit-text-size-adjust: none;
	}

	/* line 114, sass/_grid.scss */
	.row,body,.container {
		width: 100%;
		min-width: 0;
		margin-left: 0;
		margin-right: 0;
		padding-left: 0;
		padding-right: 0;
	}

	/* line 123, sass/_grid.scss */
	.row .onecol,.row .twocol,.row .threecol,.row .fourcol,.row .fivecol,.row .sixcol,.row .sevencol,.row .eightcol,.row .ninecol,.row .tencol,.row .elevencol,.row .twelvecol
		{
		width: auto;
		float: none;
		margin-left: 0;
		margin-right: 0;
		padding-left: 20px;
		padding-right: 20px;
	}
}
/* COLORS
----------------------------------------------------------------------------- */
/* palette colors */
/* Color names as found by http://www.colblindor.com/color-name-hue/ */
/*
Color palette: Giant Goldfish
Taken from http://www.colourlovers.com/palette/92095/Giant_Goldfish

Turquoise Blue: #69d2e7 / rgb(105, 210, 231)
Scandal: #a7dbd8 / rgb(167, 219, 216)
Willow Brook: #e0e4cc / rgb(224, 228, 204)
Sun: #f38630 / rgb(243, 134, 48)
Safety Orange: #fa6900 / rgb(250, 105, 0)
*/
/* color shortcuts */
/* CUSTOM MIXINS
----------------------------------------------------------------------------- */
/* GENERAL STYLE
----------------------------------------------------------------------------- */
@media not print {
	/* line 15, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/_print.scss */
	body .print-only {
		display: none;
	}
}
/* line 29, sass/_style.scss */
body {
	position: relative;
	color: #333333;
	font-size: 1em;
	line-height: 1.3em;
	font-family: Tahoma, Geneva, Verdana, sans-serif;
	letter-spacing: 0.031em;
}

/* line 30, sass/_style.scss */
h1,h2,h3,h4,h5,h6 {
	padding-bottom: 3px;
	font-weight: 700;
	font-family: Tahoma, Verdana, Geneva, sans-serif;
}

/* line 31, sass/_style.scss */
h1 {
	font-size: 1.9em;
	line-height: 1.3em;
}

/* line 32, sass/_style.scss */
h2 {
	font-size: 1.7em;
	line-height: 1.3em;
}

/* line 33, sass/_style.scss */
h3 {
	font-size: 1.3em;
	line-height: 1.3em;
}

/* line 34, sass/_style.scss */
h4 {
	font-size: 1.2em;
	line-height: 1.3em;
}

/* line 35, sass/_style.scss */
h5 {
	font-size: 1.1em;
	line-height: 1.3em;
}

/* line 36, sass/_style.scss */
h6 {
	font-size: 1em;
	line-height: 1.3em;
}

/* line 37, sass/_style.scss */
table,p,ul,ol,dl {
	padding-bottom: 10px;
}

/* line 38, sass/_style.scss */
table {
	text-align: left;
}

/* line 39, sass/_style.scss */
ul {
	list-style-type: none;
}

/* line 40, sass/_style.scss */
a {
	color: #fa6900;
	font-weight: 700;
}

/* background, layout */
/* line 43, sass/_style.scss */
#header,#main,#footer {
	padding: 10px 0;
}

/* line 44, sass/_style.scss */
body {
	background-color: #a7dbd8;
}

/* line 45, sass/_style.scss */
#header {
	padding-bottom: 0;
	background: #1C1811;
	background: url(http://vingi.nl/assets/img/footer_bg.png) repeat;
	border-bottom: solid 1px #000;
}

/* line 47, sass/_style.scss */
#main {
	background-color: white;
	min-height: 300px;
}

/* line 48, sass/_style.scss */
#footer {
	background-color: #a7dbd8;
}

/* line 49, sass/_style.scss */
div.gallery {
	position: relative;
}

/* navigation */
/* line 56, sass/_style.scss */
nav li {
	display: inline-block;
}
/* line 57, sass/_style.scss */
nav a {
	display: block;
}

/* main navigation */
/* line 60, sass/_style.scss */
#mainNav {
}

/* line 62, sass/_style.scss */
#mainNav a {
	display: table-cell;
	vertical-align: middle;
	padding: 15px 10px 3px 10px;
	font-size: 25px;
	font-family: calibri;
	font-weight: 100;
	color: white;
}
/* line 63, sass/_style.scss */
#mainNav a.active {
	color: #f38630;
}

/* main */
/* line 71, sass/_style.scss */
#main div.row:not (.pageTitle ) {
	padding-bottom: 10px;
}
/* line 75, sass/_style.scss */
#main p.text,#main p.description {
	max-width: 45em;
}
/* line 76, sass/_style.scss */
#main p.description {
	font-style: italic;
}
/* line 78, sass/_style.scss */
#main .label {
	font-weight: 700;
}

/* forms */
/* line 82, sass/_style.scss */
form {
	display: inline-block;
}
/* line 84, sass/_style.scss */
form fieldset legend {
	padding-top: 3px;
	color: #fa6900;
	font-weight: 700;
	font-size: 1.2em;
	line-height: 1.3em;
}
/* line 85, sass/_style.scss */
form fieldset div {
	padding: 10px;
	border-bottom: 1px solid #e0e4cc;
}
/* line 86, sass/_style.scss */
form fieldset fieldset {
	margin-right: 10px;
	margin-left: 10px;
	border: 0.188em solid #69d2e7;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	font-size: 0.8em;
	line-height: 1.3em;
}
/* line 87, sass/_style.scss */
form fieldset fieldset legend {
	padding-right: 10px;
	padding-left: 10px;
	color: #69d2e7;
}
/* line 88, sass/_style.scss */
form fieldset fieldset div {
	border-bottom: 0;
}
/* line 91, sass/_style.scss */
form input.text,form textarea {
	padding: 0.188em;
	width: 21em;
	border: 0.125em solid #cccccc;
	font-size: 0.8em;
	line-height: 1.3em;
	font-family: Tahoma, Geneva, Verdana, sans-serif;
	letter-spacing: 0.031em;
}
/* line 93, sass/_style.scss */
form input[type="submit"] {
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
	border: 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	background-color: #f38630;
	color: white;
	font-size: 1.1em;
	line-height: 1.3em;
}

/* media uploader */
/* line 98, sass/_style.scss */
#mediaUploader {
	border: 0.188em dashed #e0e4cc;
}

/* line 99, sass/_style.scss */
#mediaUploaderText {
	padding: 9.375em 10px;
	text-align: center;
}
/* line 101, sass/_style.scss */
#mediaUploaderText p:first-child {
	font-size: 1.5em;
	line-height: 1.3em;
}
/* line 102, sass/_style.scss */
#mediaUploaderText p:not (:first-child ) {
	padding-bottom: 0;
}
/* line 104, sass/_style.scss */
#mediaUploaderText button {
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
	border: 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	background-color: #a7dbd8;
	color: #333333;
	font-size: 0.8em;
	line-height: 1.3em;
}

/* line 107, sass/_style.scss */
#mediaUploaderButtons button {
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
	border: 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	background-color: #f38630;
	color: white;
	font-size: 1.1em;
	line-height: 1.3em;
}

/* PAGE-SPECIFIC STYLES
----------------------------------------------------------------------------- */
/* line 115, sass/_style.scss */
body.login.index #main {
	padding-top: 3.125em;
	padding-bottom: 3.125em;
}
/* line 116, sass/_style.scss */
body.login.index h1 {
	display: none;
}
/* line 120, sass/_style.scss */
body.home h1 {
	display: none;
}

/* SCREEN STYLE
----------------------------------------------------------------------------- */
/* general screen settings */
/* line 18, sass/screen.scss */
a {
	text-decoration: none;
}
/* line 19, sass/screen.scss */
a:hover {
}

/*navigation*/
/* main navigation */
/* line 25, sass/screen.scss */
#mainNav li {
	margin-bottom: 10px;
}
/* line 26, sass/screen.scss */
#mainNav a {
	-webkit-transition: border-bottom-color 0.3s ease-in;
	-moz-transition: border-bottom-color 0.3s ease-in;
	-o-transition: border-bottom-color 0.3s ease-in;
	transition: border-bottom-color 0.3s ease-in;
}
/* line 27, sass/screen.scss */
#mainNav a.active {
	border-bottom-color: #f38630;
}
/* line 28, sass/screen.scss */
#mainNav a:hover {
	border-bottom-color: #fa6900;
}

/* user navigation */
/* line 32, sass/screen.scss */
#userNav {
	float: right;
}

#userNav ul{
    padding: 0px;
}

/* line 33, sass/screen.scss */
#userNav li {
	margin-right: 10px;
}

/* forms */
/* line 38, sass/screen.scss */
form label {
	width: 7.5em;
	display: inline-block;
	vertical-align: top;
	cursor: pointer;
}
/* line 40, sass/screen.scss */
form input[type="submit"] {
	-webkit-transition: background-color 0.3s ease-in, color 0.3s ease-in;
	-moz-transition: background-color 0.3s ease-in, color 0.3s ease-in;
	-o-transition: background-color 0.3s ease-in, color 0.3s ease-in;
	transition: background-color 0.3s ease-in, color 0.3s ease-in;
	cursor: pointer;
}
/* line 41, sass/screen.scss */
form input[type="submit"]:hover {
	background-color: #fa6900;
	color: white;
}

/* media uploader */
/* line 48, sass/screen.scss */
#mediaUploaderText button {
	-webkit-transition: background-color 0.3s ease-in, color 0.3s ease-in;
	-moz-transition: background-color 0.3s ease-in, color 0.3s ease-in;
	-o-transition: background-color 0.3s ease-in, color 0.3s ease-in;
	transition: background-color 0.3s ease-in, color 0.3s ease-in;
	cursor: pointer;
}
/* line 49, sass/screen.scss */
#mediaUploaderText button:hover {
	background-color: #69d2e7;
	color: #333333;
}

/* line 53, sass/screen.scss */
#mediaUploaderButtons button {
	-webkit-transition: background-color 0.3s ease-in, color 0.3s ease-in;
	-moz-transition: background-color 0.3s ease-in, color 0.3s ease-in;
	-o-transition: background-color 0.3s ease-in, color 0.3s ease-in;
	transition: background-color 0.3s ease-in, color 0.3s ease-in;
	cursor: pointer;
}
/* line 54, sass/screen.scss */
#mediaUploaderButtons button:hover {
	background-color: #fa6900;
	color: white;
}

#filters {
	margin: 20px 0 70px 0;
}

/* line 62, sass/screen.scss */
#filters .filter {
	margin-left: 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	float: left;
}
/* line 63, sass/screen.scss */
#filters select {
	padding: 5.5px;
	width: 200px;
	border: 1px solid #cccccc;
}
/* line 64, sass/screen.scss */
#filters select:focus {
	border: 1px solid #333333;
}
/* line 66, sass/screen.scss */
#filters input {
	padding: 6.5px;
	width: 200px;
	border: 1px solid #cccccc;
}
/* line 67, sass/screen.scss */
#filters input:focus {
	border: 1px solid #333333;
}

/* line 88, sass/screen.scss */
#viewType {
	font-size: 75%;
}

/* upload media */
/* line 111, sass/screen.scss */
#fileInput {
	display: none;
}

/* line 115, sass/screen.scss */
#headerMediaUploader h2 {
	float: left;
}

/* line 119, sass/screen.scss */
#uploadButtons {
	font-size: 75%;
	float: right;
	margin-top: 5px;
}

.groups {
	padding-bottom: 70px;
}

.groupItem {
	margin: 20px 30px 20px 0;
    margin-bottom: 15px;
    border-radius: 3px;
    padding: 10px;
    color: #777;
    border: 1px solid #999;
    -webkit-box-shadow: 0 0 2px #C1BEBA inset;
    -moz-box-shadow: 0 0 2px #c1beba inset;
    box-shadow: 0 0 2px #C1BEBA inset;
    background: white;
}

#groupsWrapper {
	float: right;
	margin-right: 20px;
	padding: 5px;
	font-size: 20px;
	font-weight: bold;
}

#groupsWrapper select {
	font: inherit;
	color: inherit;
}

/* user profile */
/* line 179, sass/screen.scss */
#userImage {
	width: 100%;
}

/* line 183, sass/screen.scss */
#profileHeader ul {
	list-style-type: none;
}

/* line 187, sass/screen.scss */
#profileGroups {
	margin-top: 25px;
}

/* line 191, sass/screen.scss */
#profileGroups img {
	width: 125px;
	height: 125px;
}